.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  width: 100%;
  text-decoration: none;

  .link {
    text-decoration: underline 2px transparent;
    transition: text-decoration 0.2s linear;
    text-underline-offset: 0.5rem;

    @include typo-h4;
  }

  & picture {
    display: block; // Assurez que le conteneur <picture> prend toute la largeur
    width: 100%; // Ajoute une largeur pour que le conteneur <picture> soit responsive
  }

  & picture img,
  img {
    display: block; // Utilisez "block" pour que l'image prenne toute la largeur de <picture>
    transition: border-radius 0.2s linear;
    border-radius: 1rem;
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%; // Assurez que l'image est responsive
    height: auto;
  }

  &:hover {
    .link {
      transition: text-decoration 0.2s linear;
      text-decoration-color: $primary-light-blue;
    }

    picture img {
      transition: border-radius 0.2s linear;
      border-radius: 2.5rem;
    }
  }

  & .tag {
    justify-content: end;

    span {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}
