@use "../../settings/colors";

.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 1.5rem;
  border-bottom: 1px solid colors.$secondary-lighten-50;

  span {
    color: colors.$primary-light-blue;
  }

  select {
    display: flex;
    height: 3.6875rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 0.5rem;
    border: 2px solid colors.$secondary-lighten-50;
    background: colors.$primary-white;
  }
}
