.shadow-bottom-right {
  &::after {
    top: 1.5rem;
    left: 1.5rem;
    transform: rotate(1.5deg);

    @media screen and (max-width: 768px) {
      top: -1.5rem;
      left: -0.5rem;
    }
  }
}

.shadow-bottom-left {
  &::after {
    top: 2.5rem;
    left: -2.5rem;
    transform: rotate(-0.972deg);
  }
}

.shadow-top-right {
  &::after {
    top: -2.5rem;
    left: 2.5rem;
    transform: rotate(1.5deg);
  }
}

.shadow-top-left {
  &::after {
    top: -1.5rem;
    left: -1.5rem;
    transform: rotate(-0.972deg);

    @media screen and (max-width: 768px) {
      top: 0.8rem;
      left: 0.7rem;
      transform: rotate(-1.972deg);
    }
  }
}
