main section.expertise .expertise-list {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 1rem 6rem;

  @media screen and (max-width: 768px) {
    margin-top: 2.5rem;
  }

  li {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2rem;
    color: var(--Primaire-Bleu-primaire, #3a47d0);

    height: 4.375rem;
    padding: 1rem 0rem;

    &::before {
      content: url("/img/build/asterisk.svg");
      width: 0.89981rem;
      height: 0.84981rem;
      transform: rotate(-24.795deg);
      margin-right: 0.5rem;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
