.tag {
  width: 100%;
  display: flex;
  justify-content: start;

  span {
    display: inline-flex;
    align-items: center;

    height: 2.375rem;
    padding: 0.5rem 1rem;

    border-radius: 1rem;
    border: 1px solid $secondary-lighten-25;
    background: $primary-white;

    @include typo-small-body;
    color: $primary-light-blue;

    & ::first-letter {
      text-transform: uppercase;
    }
  }
}
