@use "../../settings/colors";
@use "../../settings/mixins";

.tag {
  width: 100%;
  display: flex;
  justify-content: start;

  span {
    display: inline-flex;
    align-items: center;

    height: 2.375rem;
    padding: 0.5rem 1rem;

    border-radius: 1rem;
    border: 1px solid colors.$secondary-lighten-25;
    background: colors.$primary-white;

    @include mixins.typo-small-body;
    color: colors.$primary-light-blue;

    & ::first-letter {
      text-transform: uppercase;
    }
  }
}
