---
title: "Nom du projet"
img: "nom_fichier_image" # Nom du fichier sans extension
project_type: "Freelance" # Freelance, En agence, Projet perso
project_skills: ["Skill 1", "Skill 2", "Skill 3"]
project_url: "https://example.org"
draft: false
---

::project-header
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget nunc
dictum, efficitur augue eu, consequat felis. Pellentesque consectetur erat a
lorem lacinia imperdiet. Maecenas non justo dapibus, facilisis quam id, pretium
urna. Praesent eu vehicula dolor, vel maximus erat. Nulla facilisi. Aliquam
tempus, eros ac rhoncus gravida, metus eros euismod sem, id fringilla felis orci
id nisl. Ut rhoncus arcu tincidunt, luctus libero in, placerat turpis. Cras
pulvinar risus dolor, a porttitor leo suscipit id.
::

::block-testimony
---
author: Aurélien Dacier
role: Directeur Technique de Digital Garden
---
Quentin est vraiment un génie du développement.
::

::block-text
---
title: Titre du bloc texte
---
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget nunc
dictum, efficitur augue eu, consequat felis. Pellentesque consectetur erat a
lorem lacinia imperdiet.
::

::block-steps
---
title: Étapes du projet
---

    :::block-step-item
    ---
    title: Étape 1
    ---
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget nunc
dictum, efficitur augue eu, consequat felis. 
    :::

    :::block-step-item
    ---
    title: Étape 2
    ---
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget nunc
dictum, efficitur augue eu, consequat felis. 
    :::
::

::block-image
---
src: /img/aeroport_de_nantes.webp
alt: Photo de la facade de l'aéroport de Nantes Atlantique
legend: Ceci est une légende !
---
::
