$primary-white: #FFFEFD;
$primary-orange: #FA9762;
$primary-light-blue: #3A47D0;
$primary-dark-blue: #0F1346;

$secondary-lighten-0: #262E91;
$secondary-lighten-12: #6870CC;
$secondary-lighten-25: #B1B7FC;
$secondary-lighten-37: #DDE0FF;
$secondary-lighten-50: #DCE3EF;
$secondary-lighten-62: #F4F8FF;

$system-success: #218E6D;
$system-error: #A21A1A;
$system-dark: #1C1C1C;
$system-light: #DBDBDB;