@mixin typo-h1 {
  font-family: Manrope;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: $primary-dark-blue;

  @media screen and (max-width: 768px) {
    font-size: 2.375rem;
  }
}

@mixin typo-h2 {
  font-family: Manrope;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $primary-dark-blue;

  @media screen and (max-width: 768px) {
    font-size: 1.875rem;
    font-weight: 800;
  }
}

@mixin typo-h3 {
  font-family: Manrope;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: $primary-dark-blue;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
    font-weight: 800;
  }
}

@mixin typo-h4 {
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2rem;
  color: $primary-light-blue;

  @media screen and (max-width: 768px) {
    font-size: 1.25rem;
    line-height: normal;
  }
}

@mixin typo-menu {
  font-family: Manrope;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: $primary-light-blue;

  @media screen and (max-width: 1200px) {
    font-size: 1.375rem;
    font-weight: 700;
  }
}

@mixin typo-subtitle {
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: $primary-light-blue;
}

@mixin typo-big-body {
  font-family: Manrope;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@mixin typo-small-body {
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

@mixin typo-link {
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
  text-decoration-line: underline;
  color: $primary-light-blue;
}
